@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(//fonts.googleapis.com/css?family=Noto+Sans+KR);
@import url(//fonts.googleapis.com/css?family=Inter);
@import url(//fonts.googleapis.com/css2?family=Gugi&display=swap);

* {
  font-family: "Noto Sans KR",Inter, sans-serif !important;
}
.hero{
  height: 40vh;
}
@media (min-width:640px) {
  .hero{
    height: 60vh;
  }
}
@media (min-width:768px) {
  .hero{
    height: 70vh;
  }
}
@media (min-width:768px) and (min-height:1024px) {
  .hero{
    height: 40vh;
  }
}






.hero-text {
  margin-top: 15%;
  margin-left:5%;
}


@media (min-width: 640px) {
  .hero-text {
    margin-left:10%;
    margin-top: 10%;
  }
}
@media (min-width: 768px) {
  .hero-text {
    margin-left:8%;
    margin-top: 15%;
  }
}

@media (min-width: 1024px) {
  .hero-text {
    margin-left: 10%;
    margin-top: 8%;
  }
}